<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Liste des Candidats</title>
	<link rel="stylesheet" type="text/css" href="{% static 'Apply/style.css' %}"/>
	<script type="text/javascript" src="{% static "Apply/js/jquery-2.1.4.js" %}"></script>
	<script type="text/javascript" src="{% static "Apply/js/jquery.tablesorter.min.js" %}"></script> 

</head>


<body>

<div class="entete">
	<div class="logo">
	<img src=" {% static 'Apply/images/dmo.png' %}"  width="200">
	</div>

	<div class="titre">
	<p>Département de Mathématiques d'Orsay</p>
	<p>Base de données des Candidatures</p>
	</div>
</div>


{% block content %}
{% endblock content %}

</body>
</html>
