{% extends "Apply/base.html" %}
{% block content %}
{% load staticfiles %}

<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#myTable").tablesorter({sortList: [[0,0],]}); 
    } 
); 
</script>



<h1> Récapitulatif pour : {{ etudiant }}</h1>




<div class="hcontainer">

<div class="child">
<table>
<tr>
<th style="width:100px;">id</th><td style="width:20px;"> {{ etudiant.id }}</td>
</tr>
<tr>
<th style="width:100px;">Nom</th><td style="width:150px;"><a href="{% url 'etudiant_edit' pk=etudiant.id %}">{{ etudiant.nom }}</a></td>
</tr>
<tr>
<th style="width:100px;">Prénom</th>  <td style="width:150px;">{{ etudiant.prenom }}</td>
</tr>
<tr>
<th style="width:100px;">Né(e) le</th><td style="width:150px;">{{ etudiant.date_naissance}}</td>
</tr>
<tr>
<th style="width:100px;">Adresse</th><td style="width:250px;">{{ etudiant.adresse}}</td>
</tr>
<tr>
<th style="width:100px;">Téléphone</th> <td style="width:120px;">{{ etudiant.telephone }}</td>
</tr>
<tr>
<th style="width:100px;">eMail</th><td style="width:250px;">{{ etudiant.email }}</td>
</tr>
<tr>
<th style="width:100px;">Vient de </th> <td style="width:150px;">{{ etudiant.vient_de}}</td>
</tr>
</table>
</div>
<div class="child">
<table  id="myTable">
<thead>
<tr>
	<th>Année</th>
	<th>Etablissement</th>
	<th>Formation</th>
	<th>Résultat</th>
</tr>	
</thead>
<tbody>
{% for annee in etudiant.get_annee %}
<tr>
	<td style="width:60px;text-align:center;">{{ annee.millesime }}</td>
	<td style="width:200px;text-align:left;">{{ annee.etablissement }}</td>
	<td style="width:250px;text-align:left;"> {{ annee.formation }}</td>
	<td style="width:120px;text-align:center;">{{ annee.resultat }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>



<br><br>
<bouton><a href="{% url "etudiant_new" %}">nouvel etudiant</a></bouton>
<bouton><a href="{% url "etudiant_edit" pk=etudiant.id %}">modifier cet étudiant</a></bouton>
<bouton><a href="{% url "etudiant_list" %}">retour à la liste</a></bouton>
<bouton_rouge><a href="{% url "etudiant_delete"  pk=etudiant.id %}">effacer cet étudiant</a></bouton_rouge>

</div>

{%endblock content%}